.float-box {
  float: left;
  width: 400px;
  height: 300px;  

  &.photo {
    text-align: center;

    img {
      width: 400px;
    }
  }

  &.deviceInfo {
    width: 200px;
  }

  &.managerInfo {
    width: 200px;
    h4 {
      cursor: pointer;
    }
  }
}

.history {
  clear: left;
}




