.float-box {
  float: left;
  width: 300px;
  height: 300px;

  &.photo {
    text-align: center;

    img {
      height: 240px;
    }
  }

  &.deviceInfo {
    width: 200px;
  }

  .deviceInfo {
    .nav-stacked > li + li {
      line-height: 10px;
      font-size: 12px;
    }

    h4 {
      margin-bottom: 0px;
    }
  }

  &.managerInfo {
    width: 200px;

    h4 {
      cursor: pointer;
    }
  }
}

.history {
  clear: left;

  ul {
    background-color: black;
    color: #ccc;
    list-style: none;
    padding: 10px;
    margin: 0;
  }
}



.clickable {
  cursor: pointer;
}
