div(ng-include='"components/navbar/navbar.html"')
header#banner.hero-unit
    .container
        h1 'Android Device Farm'
        p.lead Share your device with your co-workers.
.container
    .row
        .col-lg-12
            h1.page-header Connected devices:
            ul.nav.nav-tabs.nav-stacked(ng-repeat='thing in awesomeThings')
                li
                    a(href='#', tooltip='{{thing.info}}')
                        | {{thing.name}} adb connect xxx.xxx.xxx.xxx:{{thing.port}} {{thing.serial}}
                        button.close(type='button', ng-click='deleteThing(thing)') ×
footer.footer
    .container
        p
            a(href='http://skplanet.com/') SK planet
            = ' | '
            a(href='http://wiki.skplanet.co.kr/display/SQE') SQE Team