<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Android Device Farm</h1>
    <p class="lead">Share your device with your co-workers.</p>
  </div>
</header>
<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Available Devices</h1>
      <ul class="nav nav-pills">
        <li ng-repeat-start="device in devices">
          <span><a href="/devices/{{device._id}}">{{device.name}}</a></span>
          <span class="label state" ng-class="{'label-warning': device.jobid, 'label-success': !device.jobid}"><i ng-class="{'fa fa-check': !!device.jobid}">{{device.jobid ? "in use" : "available"}}</i></span>
        </li>
        <div ng-if="false" ng-repeat-end></div>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Client Queue ({{clients.length}})</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="client in clients">
            <span>{{$index+1}}</span>
            <span>{{client.dispConnDate}}</span>
            <span> | {{client.type}} | </span>
            <span>{{client.ip}}</span>
            <span>| {{client.deviceName}}
              <span class="label state" data-ng-class="{'label-warning': client.state==='in use', 'label-success': !client.deviceName}"><i class="fa" data-ng-class="{'fa-check': client.state==='in use'}"> {{client.state}}</i> </span>
              <a href="{{client.jobid}}">{{client.requestTag}}</a>
              <button ng-if="(client.state==='in use') && (user.role === 'admin')" type="button" class="close" data-ng-click="deleteClient(client)">&times;</button>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>

