<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Android Device Farm</h1>
    <p class="lead">Share your device with your co-workers.</p>
  </div>
</header>
<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Connected Devices</h1>
      <ul class="nav">
        <li data-ng-repeat-start="device in devices">
          <span><a href="/devices/{{device.serial}}">{{device.name}}</a></span>
          <span data-ng-repeat="tag in device.tags">[{{tag}}] </span>
          <span>{{device.ip}}</span> {{device.whoused}}
          <span class="label state" data-ng-class="{'label-warning': device.whoused, 'label-success': !device.whoused}"><i class="fa" data-ng-class="{'fa-check': !!device.whoused}"> {{device.whoused ? "in use" : "available"}}</i></span>
        </li>
        <div ng-if="false" data-ng-repeat-end></div>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Connected Clients</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="client in clients">
            <span>{{client.dispConnDate}}</span>
            <span> | {{client.type}} | </span>
            <span>{{client.ip}}</span>
            <span ng-if="client.type!='web'">| {{client.deviceName}} {{client.jobid}} 
              <span class="label state" data-ng-class="{'label-warning': client.state==='in use', 'label-success': !client.deviceName}"><i class="fa" data-ng-class="{'fa-check': client.state==='in use'}"> {{client.state}}</i> </span>
              <button ng-if="(client.state==='in use') && (user.role === 'admin')" type="button" class="close" data-ng-click="deleteClient(client)">&times;</button>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>

