<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Android Device Farm</h1>
    <p class="lead">Share your device with your co-workers.</p>
  </div>
</header>
<section class="home">
  <div class="row device-queue">
    <ul class="nav nav-pills">
      <li ng-repeat-start="device in devices">
        <img src="{{device.photoUrl}}" />
        <div><a href="/devices/{{device._id}}">{{device.name}}</a></div>
        <div class="label state" ng-class="{'label-warning': device.jobid, 'label-success': !device.jobid}">
          <i ng-class="{'fa fa-check': !!device.jobid}"></i>{{device.jobid === 'monopoly' ? "occupied" : device.jobid ? "in use" : "available"}}
        </div>
      </li>
      <div ng-if="false" ng-repeat-end></div>
    </ul>
  </div>

  <hr/>
  <div class="row client-queue">

    <p ng-hide="clients.length">There is no waiting client.</p>
    <ul ng-show="clients.length" class="list-group">
      <li class="list-group-item" ng-class="{'admin':isAdmin}" ng-repeat="client in clients | filter:findWaitingClients">
        
        <span class="label state label-success"><i class="fa fa-check"> {{client.state}}</i></span>

        <button ng-show="isAdmin" type="button" class="close" ng-click="deleteClient(client)">&times;</button>
          
        <a href="{{client.jobid}}">{{client.requestTag}}</a>
        <span>{{client.dispConnDate}}</span>
        
      </li>
    </ul>
  </div>
</section>

